body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-bottom: 2%;
}

p {
  font-family: 'Montserrat';
  color: black;
  font-weight: 600;
}

/* Headings */
.big-heading {
  font-family: 'Hahmlet', serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.5;
  padding-bottom: 20px;
  padding-right: 20px;
  color: #fff;
}

.big-heading2 {font-family: 'Hahmlet', serif;
font-weight: bold;
font-size: 4rem;
line-height: 1.5;
padding-bottom: 20px;
padding-right: 20px;
color: #5764ff;}

.section-heading {
  font-size: 3rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

/* Sections */
.colored-section {
  background-color: #5764ff;
  color: white;
}

.white-section {
  background-color: #fff;
  color: #5764ff;
}

/* Containers */
.container-fluid {
  padding: 7% 10% 3%;
}

.container-nav {
  padding: 2rem;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Indie flower;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}

.logo {
  border-radius: 200px;
  margin-right: 3%;
}

/* Title section */
#title .container-fluid {
  padding: 3% 7% 2% 15%;
  text-align: left;
}

.prima-linea {
  font-size: 1.5rem;
  color: white;
}

.download-button {
  font-family: 'Montserrat'serif;
  margin: 5% 5% 3% 0;
  font-size: 26px;
  padding: 3%;
  background: #474ABF;
  background-image: -webkit-linear-gradient(top, #474ABF, #751ED0);
  background-image: -moz-linear-gradient(top, #474ABF, #751ED0);
  background-image: -ms-linear-gradient(top, #474ABF, #751ED0);
  background-image: -o-linear-gradient(top, #474ABF, #751ED0);
  background-image: -webkit-gradient(to bottom, #474ABF, #751ED0);
}

.download-button:hover {
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
}

/* Features */
/* #features {
  z-index: 1;
  position: relative;
} */
.feature-title {
  font-size: 1.5rem;
}

.features-box {
  padding: 5%;
}

.dettagli {
  font-weight: 600;
  margin: 5px auto 60px auto;
}

.icona {
  color: #5764ff;
  margin-bottom: 1rem;
}

.icona:hover {
  color: #751ED0;
}

.titolo-corso {
  font-size: 2.5rem;
}

.corso {
  font-family: 'Montserrat', serif;
  font-size: 1.2rem;
  text-align: left;
  padding-bottom: 1.5rem;
  padding-left: 2%;
}

.foto-online {
  width: 150%;
  border-radius: 60px;
}

.descrizione-foto {
  padding-top: 25%;
  padding-right: 20%;
}

/*Incluso*/
.incluso {
  margin: 5%;
  padding-bottom: 10%;
}

/* Teacher */
#teacher .titolo-insegnante {
  line-height: 1;
  padding-bottom: 2%;
}

.insegnante {
  font-family: 'Montserrat', serif;
  font-size: 1.2rem;
  padding-left: 7%;
  margin-bottom: 7%;
  text-align: left;
  padding-right: 10%;
}

.io2 {
  width: 55%;
  margin-bottom: 5%;
}

/* Testimonials */
#testimonials {
  background-color: #751ED0;
}

.testimonial-image {
  width: 10%;
  border-radius: 200%;
  margin: 15px;
  /* text-align: center; */
}

.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
  padding-bottom: 0.5rem;
}

.carousel-item {
  padding-bottom: 2%;
}

/* Press */
#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.preview-button {
  font-family: 'Montserrat'serif;
  margin: 5% 5% 6% 0;
  font-size: 26px;
  padding: 3%;
  background: #474ABF;
  background-image: -webkit-linear-gradient(top, #474ABF, #751ED0);
  background-image: -moz-linear-gradient(top, #474ABF, #751ED0);
  background-image: -ms-linear-gradient(top, #474ABF, #751ED0);
  background-image: -o-linear-gradient(top, #474ABF, #751ED0);
  background-image: -webkit-gradient(to bottom, #474ABF, #751ED0);
}

.preview-button:hover {
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
}

/* Pricing */

.pricingTable{
    color: #222;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 20px 20px 30px;
    margin: 0 0 0 40px;
    border-radius: 30px;
    position: relative;
}
.pricingTable .pricingTable-header{ margin: 0 0 20px 0; }
.pricingTable .title{
    color: #fff;
    background: linear-gradient(#6491DD,#6469F2);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 15px 7px;   
    margin: 0 0 15px;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    transform-origin: top left;
    transform: rotate(-90deg);
    position: absolute;
    left: -39px;
    top: 250px;
}
.pricingTable .price-value{
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}
.pricingTable .price-value .amount{
    line-height: 40px;
    display: inline-block;
}
.pricingTable .price-value .duration{
    color: #444;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.pricingTable .pricing-content{
    text-align: left;
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
    display: inline-block;
}
.pricingTable .pricing-content li{
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    padding: 0 0 0 25px;
    margin: 0 0 17px;
    position: relative;
}
.pricingTable .pricing-content li:last-child{ margin: 0; }
.pricingTable .pricing-content li:before{
    content: "\f00c";
    color: #444;
    font-family: "Font Awesome 5 free";
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    top: 1px;
    left: 0;
}
.pricingTable .pricing-content li.disable:before{ content: "\f00d"; }
.pricingTable .pricingTable-signup a{
    color: #fff;
    background: linear-gradient(to right,#6491DD,#6469F2);
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    padding: 6px 20px 8px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup a:hover{
    color: #fff;
    text-shadow: 3px 3px rgba(255,255,255,0.2);
    box-shadow: 0 0 0 5px rgba(0,0,0,0.1), 0 0 0 10px rgba(0,0,0,0.05);
}
.pricingTable.green .title{ background: linear-gradient(#2EDDB4,#3F857B); }
.pricingTable.green .pricingTable-signup a{ background: linear-gradient(to right,#2EDDB4,#3F857B); }
.pricingTable.orange .title{ background: linear-gradient(#f9a661,#cc6c1e); }
.pricingTable.orange .pricingTable-signup a{ background: linear-gradient(to right,#f9a661,#cc6c1e); }
@media only screen and (max-width: 990px){
    .pricingTable{ margin: 0 0 40px 40px; }
}

/* Footer */
.icona2 {
  margin: auto 1rem 2rem 1rem;
}

/* Telefono */


@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  h1 {font-family: 'Poppins', sans-serif;
    font-size: 7rem;
  }
  
  h2 {font-family: 'Poppins', sans-serif;
    font-size: 4rem;
  }

  h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
  }

  .nav-link {
    font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;}


  .prima-linea {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
  }

  .download-button {
    font-size: 4.5rem;
   }
  
  .preview-button {
  font-size: 3.5rem;
  }

  .section-heading {
  line-height: 1em;
  }

  .big-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  }

  .feature-title {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  }

  .dettagli {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  }

  .corso {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  text-align: center;
  }

  .testimonial-text {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  }

  .insegnante {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  text-align: center;
  }

  .section-title-white {
    font-family: 'Poppins', sans-serif;
  font-size: 3rem;}

  .foto-online {
  width: 100%;
  margin-bottom: 20%;
  margin-left: 10%;
  }
  

}
